<section id="about-page">
  <div class="container">
    <div class="row">

      <article class="about-us">
        <div class="col-lg-9 col-md-9 col-sm-9">
          <p class="lead">Канцеларија за младе у Зубином Потоку</p>
          <p>ради са циљем да на локалном нивоу реализује смернице дате у Националној стратегији за младе Републике Србије, спроводи Локални акциони план који обухвата решења за проблеме младих на територији наше општине као и да заступа ставове младих на вишем нивоу.</p>
          <blockquote>
          <p>Разлог за покретање рада канцеларија за младе су здрави, срећни и задовољни млади људи у локалној заједници, који су главна покретачка снага развоја сваког друштва.</p>
          </blockquote>
          <p>У свом раду, Канцеларија ће да сарађује са свим локалним институцијама и организацијама које се на нивоу Зубиног Потока баве младима, било да је реч о здравственим, социјалним или културним институцијама. Поуздане партнере је пронашла у невладином сектору, бројним омладинским организацијама и удружењима грађана који својим пројектима покривају интересовања, здравље, едукацију, забаву, креативност или слободно време младих.</p>
          <p>Шта млади добијају отварањем Канцеларије за младе? Партнера у њиховим настојањима да се креативно, слободно развијају и осмишљавају програме и активности за младе, добијају разумевање и подршку, и лакши приступ информацијама од значаја за њих.</p>

          <p class="lead">Области деловања Канцеларије за младе у Зубином Потоку:</p>
            <ul>
              <li>организовани приступ проблемима младих</li>
              <li>афирмисање рада са младима</li>
              <li>подршка младима у сарадњи са:
                <ul type="a">
                  <li>образовним и културним институцијама</li>
                  <li>Националном службом запошљавања</li>
                  <li>организационим јединицама Локалне самоуправе</li>
                  <li>невладиним организацијама</li>
                </ul>
              </li>
              <li>активно укључивање младих у друштвене токове</li>
              <li>информисање младих</li>
              <li>информисање других о младима</li>
              <li>неформално образовање младих</li>
              <li>логистичка подршка реализацији пројеката младих</li>
              <li>повезивање младих у њиховим активностима, међусобно и са другима</li>
              <li>афирмација волонтерског рада младих</li>
              <li>креирање модела волонтерских радних кампова</li>
              <li>равноправан положај младих у друштву</li>
              <li>подстицање стваралаштва младих</li>
              <li>вредновање достигнућа младих</li>
              <li>квалитетно организовање слободног времена</li>
              <li>унапређење безбедности младих</li>
              <li>припрема акционог плана политике за младе у Збином Потоку</li>
              <li>координација канцеларија за младе на целом Косову и Метохији</li>
              <li>други послови у складу са Националном стратегијом за младе Републике Србије</li>
            </ul>

        </div><!-- col -->
      </article><!-- about-us -->

    <aside class="side">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 video">
                <div class="panel panel-default">
                  <div class="panel-heading hidden-sm">
                    <h3>Препоручујемо видео 1</h3>
                  </div>
                  <div class="panel-body">
                    <video width="100%" height="100%" poster="video/our_vineyard.jpg" controls="controls">
                      <source src="video/our_vineyard.mp4" type="video/mp4">Your browser does not support HTML5 video.
                    </video>
                  </div>
                </div><!-- panel -->      
              </div><!-- col -->
            </div><!-- row -->

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 video">
                <div class="panel panel-default">
                  <div class="panel-heading hidden-sm">
                    <h3>Препоручујемо видео 2</h3>
                  </div>
                  <div class="panel-body">
                    <video width="100%" height="100%" poster="video/our_vineyard.jpg" controls="controls">
                      <source src="video/our_vineyard.mp4" type="video/mp4">Your browser does not support HTML5 video.
                    </video>
                  </div>
                </div><!-- panel -->      
              </div><!-- col -->
            </div><!-- row -->

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading hidden-sm">
                    <h3>Препоручујемо фотографије</h3>
                  </div>
                  <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                      <a href="#" title="Галерија 1"><img src="images/slika-1.jpg" alt="#" class="img-responsive gallery-img"></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                      <a href="#" title="Галерија 2"><img src="images/slika-2.jpg" alt="#" class="img-responsive gallery-img"></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                      <a href="#" title="Галерија 3"><img src="images/slika-4.jpg" alt="#" class="img-responsive gallery-img"></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                      <a href="#" title="Галерија 4"><img src="images/slika-5.jpg" alt="#" class="img-responsive gallery-img"></a>
                    </div>
                  </div>
                  </div>
                </div><!-- panel -->      
              </div><!-- col -->
            </div><!-- row -->

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 reklama">
                <div class="panel panel-default">
                  <div class="panel-heading hidden-sm">
                    <h3>Реклама 1</h3>
                  </div>
                  <div class="panel-body">
                    <p>Садржај</p>
                  </div>
                </div><!-- panel -->
              </div><!-- col -->
            </div><!-- row -->

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 reklama">
                <div class="panel panel-default">
                  <div class="panel-heading hidden-sm">
                    <h3>Реклама 2</h3>
                  </div>
                  <div class="panel-body">
                    <p>Садржај</p>
                  </div>
                </div><!-- panel -->
              </div><!-- col -->
            </div><!-- row -->

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="panel panel-default anketa">
                    <form role="form">
                      <fieldset>
                        <div class="panel-heading">
                          <legend>Да ли вам се свиђа наш сајт?</legend>
                        </div>
                        <div class="panel-body">
                          <div class="form-group">                    
                            <div class="radio">
                              <label>
                              <input type="radio" name="sajt" value="odlican">Одличан је!</label>
                            </div>
                            <div class="radio">
                              <label class="control-label"><input type="radio" name="sajt" value="dobar">Није лош!</label>
                            </div>
                            <div class="radio">
                              <label class="control-label"><input type="radio" name="sajt" value="los">Не свиђа ми се!</label>
                            </div>
                          </div><!-- form-group -->
                          <div class="form-group">
                            <button type="submit" class="btn btn-danger">Гласај</button>
                          </div><!-- form-group -->
                        </div>
                      </fieldset>
                    </form>
                  </div><!-- panel -->
              </div><!-- col -->
            </div><!-- row -->

          </div><!-- col -->
        </aside><!-- side -->

    </div><!-- row -->
  </div><!-- container -->
</section><!-- about-page -->