<div>
  <p>
  Канцеларија за младе у Зубином Потоку ради са циљем да на локалном нивоу реализује смернице дате у Националној стратегији за младе Републике Србије, спроводи Локални акциони план који обухвата решења за проблеме младих на територији наше општине као и да заступа ставове младих на вишем нивоу.
  </p>
  <p>
  Разлог за покретање рада канцеларија за младе су здрави, срећни и задовољни млади људи у локалној заједници, који су главна покретачка снага развоја сваког друштва.
  </p>
  <p>
  У свом раду, Канцеларија ће да сарађује са свим локалним институцијама и организацијама које се на нивоу Зубиног Потока баве младима, било да је реч о здравственим, социјалним или културним институцијама. Поуздане партнере је пронашла у невладином сектору, бројним омладинским организацијама и удружењима грађана који својим пројектима покривају интересовања, здравље, едукацију, забаву, креативност или слободно време младих.
  </p>
  <p>
  Шта млади добијају отварањем Канцеларије за младе? Партнера у њиховим настојањима да се креативно, слободно развијају и осмишљавају програме и активности за младе, добијају разумевање и подршку, и лакши приступ информацијама од значаја за њих.
  </p>

  <p>
    <h2>Области деловања Канцеларије за младе у Зубином Потоку:</h2>
    <ol>
      <li>организовани приступ проблемима младих</li>
      <li>афирмисање рада са младима</li>
      <li>подршка младима у сарадњи са:
        <ol type="a">
          <li>образовним и културним институцијама</li>
          <li>Националном службом запошљавања</li>
          <li>организационим јединицама Локалне самоуправе</li>
          <li>невладиним организацијама</li>
        </ol>
      </li>
      <li>активно укључивање младих у друштвене токове</li>
      <li>информисање младих</li>
      <li>информисање других о младима</li>
      <li>неформално образовање младих</li>
      <li>логистичка подршка реализацији пројеката младих</li>
      <li>повезивање младих у њиховим активностима, међусобно и са другима</li>
      <li>афирмација волонтерског рада младих</li>
      <li>креирање модела волонтерских радних кампова</li>
      <li>равноправан положај младих у друштву</li>
      <li>подстицање стваралаштва младих</li>
      <li>вредновање достигнућа младих</li>
      <li>квалитетно организовање слободног времена</li>
      <li>унапређење безбедности младих</li>
      <li>припрема акционог плана политике за младе у Збином Потоку</li>
      <li>координација канцеларија за младе на целом Косову и Метохији</li>
      <li>други послови у складу са Националном стратегијом за младе Републике Србије</li>
    </ol>
  </p>
</div>