<!DOCTYPE html>
<html>
<head>
	<title>Admin Panel</title>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="js/respond.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>

<body>

	<div class="row">
		<nav class="navbar navbar-default navbar-fixed-top">
		 	
		 	<div class="col-lg-2 col-md-3 col-sm-4 logo">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#horizontal-menu">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="adminpanel.html" title="Почетна страна"><img src="images/logo.png" alt="Лого канцеларије" width="100" height="50px;">&nbsp; КЗМ ЗП</a>
			    </div>
		    </div>

		    <div class="col-lg-10 col-md-9 col-sm-8 right-menu">
		    	<div class="row">
				    <div class="collapse navbar-collapse" id="horizontal-menu">
				    	
				    	<div class="col-lg-4 col-md-6 col-sm-5 col-xs-8">
					      <form class="navbar-form" role="search">
					        <div class="form-group">
					        	<input type="text" class="form-control" placeholder="Претражи">
					        </div>
					      </form>
					     </div>

				      	<div class="col-lg-8 col-md-6 col-sm-7 col-xs-4">
					      <ul class="nav navbar-nav navbar-right">
					        <li class="hidden-xs"><a href="#" title="Обавештења"><span class="glyphicon glyphicon-globe"></span></a></li>
					        <li class="hidden-xs"><a href="#" title="Поруке"><span class="glyphicon glyphicon-envelope"></span></a></li>
					        <li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="Админ тај и тај"><span class="glyphicon glyphicon-user"></span> Корисник <span class="caret"></span></a>
					          <ul class="dropdown-menu" role="menu">
					            <li><a href="#">Профил</a></li>
					            <li><a href="#">Поруке</a></li>
					            <li class="divider"></li>
					            <li><a href="#">Одјави се</a></li>
					          </ul>
					        </li>
					      </ul>
				      </div>
				    </div><!-- /.navbar-collapse -->
			    </div><!-- row -->
		    </div><!-- col -->
		</nav>
	</div><!-- row -->

	<aside id="side-menu" class="col-lg-2 col-md-3 col-sm-4">
		<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#vertical-menu">
	        <span class="sr-only">Toggle navigation</span>
				MENU
	      </button>
	    </div>
	    <div class="collapse navbar-collapse" id="vertical-menu">
			<ul class="nav nav-pills nav-stacked">                      
		        <li><a href="adminpanel.html">Почетна</a></li>
		        <li><a href="news.html">Вести</a></li>
		        <li><a href="fun.html">Занимљивости</a></li>
		        <li><a href="concurs.html">Конкурси</a></li>
		        <li><a href="projects.html">Пројекти</a></li>
		        <li><a href="documents.html">Документа</a></li>
		        <li><a href="gallery.html">Галерија</a></li>
		        <li role="presentation" class="dropdown">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
				      Корисник<span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu" role="menu">
				      	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Профил</a></li>
				    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Поруке</a></li>					   
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Одјава</a></li>
				    </ul>
				</li>
		    </ul>
		</div>
	</aside><!-- side-menu -->

	<section id="content" class="col-lg-10 col-md-9 col-sm-8">
		<ol class="breadcrumb">
		  <li><a href="#">Почетна</a></li>
		</ol>
		<h1>Насловна - Kancelarija за младе Зубин Поток</h1>
	</section><!-- main-content -->



<!-- javascript -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>