<div class="container-fluid">

    <div class="row header">
        <div class="col-lg-7 col-lg-offset-2 col-md-10 col-sm-10 col-xs-9">
            <h1>Канцеларија за младе Зубин Поток</h1>
        </div><!-- col -->
        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-3">
            <a href="#" class="need-help">Помоћ?</a><span class="clearfix"></span>
        </div><!-- col -->
    </div><!-- row -->

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 login-wraper">
            <div class="account-wall">
                <form class="form form-signin">
                    <legend><h1>Улогуј се на <span class="blue">Канцеларија за младе</span></h1></legend>
                    <div class="body">
                        <label>Корисничко име</label>
                        <input type="text" required autofocus>
                        <label>Лозинка</label>
                        <input type="password" required>
                    </div><!-- body -->
                    <div class="footer">
                        <input type="checkbox" value="remember-me"> Запамти ме&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" type="submit">
                        Login</button>
                    </div><!-- footer -->
                </form>
            </div><!-- account-wall -->
        </div><!-- col -->
    </div><!-- row -->

    <footer class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p>Немаш налог? &nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-primary new-account" role="button">Региструј се</a></p>
        </div><!-- col -->
    </footer>

</div><!-- container -->