body {
    font-family: "Play", serif;
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: 300;
}
.blue {
    color: #447fc8;
}
.header {
    height: 120px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}
.account-wall {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    max-width: 460px;
    background-color: #fff;
    text-align: center;
    left: 50%;
    margin: auto;
}
legend {
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
    margin-bottom: 20px;
}
.form-signin {
    max-width: 360px;
    padding: 15px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}
form input[type=text],
form input[type=password] {
    margin-bottom: 15px;
     position: relative;
    font-size: 16px;
    height: auto;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer {
    margin: 20px 0;
    font-size: 20px;
}
footer {
    text-align: center;
}