<div>На овој страници би требале да стоје статистичке информације о чланцима, корисницима, обавештења, итд. по могућству у виду графикона</div>

<hr />

<div>
  Упупан број чланака: <%= Article.count %>
</div>

<div>
  Упупан број корисника: <%= User.count %>
</div>